p a, p a:hover {
	text-decoration: none;
}

.wrap {
	right:20px;
	top:15px;
}

p.ssp_submit {
	border-top: none;
	float: right;
	margin-left: 0;
}

p.ssp_export {
	padding: 0;
	margin: 0;
	display: inline;
}

table.ssp_form-table th {
	width: 250px;
}

.ssp_highlight-option th, .ssp_highlight-option td {
	background: #FFFAD4;
}

th.ssp_form-h2 h2 {
	padding: 0;
	margin: 0;
	display: inline;
	clear: none;
	border-bottom: none;
	white-space:nowrap;
}

td.ssp_form-update p.ssp_submit {
	padding: 0;
	margin: 0;
}

th.ssp_form-h2,
td.ssp_form-update {
	background-color: #FFF;
}

#ssp_farbtastic {
	position: absolute;
	z-index: 100;
}

.ssp_colorpicker {
	width: 50px;
	cursor: pointer;
}
