#optionsbar { display: none; }
body .member-content { width: 758px !important; }
#ifm-remote { height:1200px; width:100%; }
#my-uuhello-search { background: url(../images/search.gif) no-repeat scroll 15px center }